<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/EstiloEjercicio.css}" rel="stylesheet"/>
	<title th:text="#{incorrect}"></title>
</head>

<body>

	<div id="Seccion">
    	<h1><p th:text="#{incorrectMessage2} + ': ' + ${nombre}" /></h1>
    </div>
    
    <center>
	    <input type="button" th:value="#{prinPageButton}" onclick="location.href='/principal'"/>
	    <input type="button" th:value="#{backButton}" onclick="location.href='/principal/list'"/>
    </center>
    
</body>

</html> 